.story {

    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
        background-size: cover;

        display: grid;   
        grid-template-rows: repeat(6, 1fr); 
        grid-template-columns: repeat(6, 1fr);  
        align-items: center; // per tu qenderzuar duke qene se nuk e ze te ter hapesiren qe i kemi percaktuar ne grid

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img--1 {
        width: 100%;
        grid-row: 2 / 6; //dukeqene se kemi te bejme me foto ajo nuk do te zere ter pjesen e grid qe i kemi percaktuar ndryshe nga nje div i cili do te strech neper te hapesiren e percaktur
        grid-column: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 5 ;
            grid-row: 1 / -1;
        }
    }

    &__img--2 {
        width: 115%; //duke rritur imazhin do te perftojme te njejtin efekt si me lart ajo do te rritet dhe do te zere hapesirren qe duam ne dhe duke i vendosur zindex do te dale me anash
        grid-row: 4 / 6; 
        grid-column: 4 / 7;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .2);

        @media only screen and (max-width: $bp-medium) {
            grid-row: 1 / -1;
            width: 100%;
        }
    }



    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5/ full-end;
        //padding: 6rem 12rem;
        padding: 6rem 12vw; //more responsive when we use vw unit

        //SOLUTION WITH FLEX
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;

        //SAME SOLUTION WITH GRID   
        display: grid;
        align-content: center;
        justify-items: start;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 5 / 6; // per ta renditur mbi fotot // numerojme manualisht
        }
    }

    &__text {
        font-size: 1.6rem;
        font-style: italic;
        //margin-bottom: 4rem;
    }
}